.countdown-box{
    color: white;
    background-color: rgba(98, 145, 206, 0.8);
    margin: 10px 10px 10px 10px;
    padding: 10px;
    font-weight:100;
    font-size:30px;
    border-radius:10px;
    width: 500px;
}

.countdown-title{
    display: inline-block;
    align: left;
}
.countdown-days{
    display: inline-block;
    float:right;
}